<div class="row">
  <div class="col-md-12">
    <span><%= t("views.users._sidebar.dashboard") %></span> <br>
    <span><%= t("views.users._sidebar.update_profile") %></span> <br>
    <span><%= t("views.users._sidebar.change_password") %></span> <br>
  </div>
</div>