<div class="bg-about"></div>
<div class="row section">
  <div class="about">
  </div>
</div>

<div class="row section">
  <div class="col-md-12">
    <h2 class="title-text">我們的價值</h2>
    <p class="content-text margin-text-20">
      我們是個致力幫助客戶及口筆譯工作者自主找到彼此的翻譯交易平台。
    </p>
    <p class="content-text margin-text-20">
      在這個小空間裡，我們重視的是
    </p>
    <ul class="content-text margin-text-20">
      <li>開放透明</li>
      <li>誠實公平</li>
      <li>慷慨分享</li>
      <li>創造新價值</li>
    </ul>
    <p class="content-text margin-text-20">
      因此我們主張：
    </p>
    <ul class="content-text margin-text-20">
      <li>公開譯者價格及工作履歴，提供客戶充足資訊；</li>
      <li>公開收取的佣金比例，杜絕剝削譯者、哄抬價格的陋習；</li>
      <li>慷慨分享工作機會；</li>
      <li>賦與參與翻譯流程的客戶與譯者雙方更多自主選擇的權利。改變尋找譯者的方式，也改變譯者找工作的方式。</li>
    </ul>
    <p class="content-text margin-text-20">透過這樣的小小努力，我們希望讓翻譯產業變得更加地公平、透明和自主。</p>
    <p class="content-text margin-text-20">期待您一起加入這場改變，並不吝與我們分享您寶貴的意見。 ：）</p>
    <p class="content-text margin-text-20">
      公平翻譯交易所 <br>
      April 2015
    </p>
  </div>
</div>
<hr>
<div class="row section microqa">
  <div class="col-md-12">
    <div class="align-center">
      <h2 class="title-text">．微QA．</h2>
    </div>
    <div class="qna">
      <h3 class="title-text">
        Q：網站上說「透明價格」，是指我可以看到所有譯者的價格嗎？為什麼我沒看到相關資料？
      </h3>
      <p class="content-text margin-text-20">
        是的，【公平翻譯交易所】未來將要求所有譯者公開所有服務的價格，不論價格高低。我們希望透過透明價格，讓大家對翻譯的公定價格有更清楚的認識，也避免開價過高或削價競爭的情況出現。
      </p>
    </div>

    <div class="qna">
      <h3 class="title-text">
        Q：我會知道是誰在為我翻譯嗎？
      </h3>
      <p class="content-text margin-text-20">
        A：是的，您在【公平翻譯交易所】裡的每一次委託，都會清楚知道是由哪一位譯者在為您服務。您可以藉由查詢譯者過往的履歴及評價，了解是否找到符合需求的譯者。
      </p>
      <p class="content-text margin-text-20">
        透過這種作法，我們希望讓用戶取得充足及對等的資訊，再進行委託。如此一來，用戶能夠清楚知道花費及委任對象的資歴是否相符；譯者也能更直接為自己的作品負責。
      </p>
    </div>

    <div class="qna">
      <h3 class="title-text">
        Q：「翻譯」與「翻譯 + 審稿」，差別在哪裡？
      </h3>
      <p class="content-text margin-text-20">
        A：「翻譯」指的是將 A 語言轉換成 B 語言的過程，「審稿」則是將翻譯完成的譯稿，交由母語為 B 語言的專業編輯重新審視的階段。
      </p>
      <p class="content-text margin-text-20">
        審稿是所有正式作品出版幾乎必有的流程（如：書籍翻譯、政府出版品翻譯）。審稿員會負責潤飾用語，調整語氣，對照原文，修正誤譯，並且確定譯稿在 B 語言中讀起來是自然流暢的。
      </p>
      <p class="content-text margin-text-20">
        過去審稿的稿費常常被包括在翻譯費中，所以您在委託翻譯時，可能並不清楚是否有這項服務。但審稿的確是提升譯稿品質不可或缺的關鍵步驟。
      </p>
      <p class="content-text margin-text-20">
        因此在委託翻譯時，我們會建議您依照自己的需求，來選擇「翻譯」或「翻譯 + 審稿」服務。若您委託翻譯的文件主題較為簡單（如：履歴、個人作品），您可以考慮只尋求「翻譯」服務；若您的文件難度較高，我們則建譯您選擇「翻譯+ 審稿」服務，以達到最佳效果。
      </p>
      <p class="content-text margin-text-20">
        在【公平翻譯交易所】裡，我們合作的審稿員都是具備多年經驗的資深專業編輯，並且只針對自己的母語稿件潤飾校對，因此將更能夠確保完稿的最高品質。
      </p>

    </div>

    <div class="qna">
      <h3 class="title-text">
        Q：你們要怎麼確保翻譯品質？
      </h3>
      <p class="content-text margin-text-20">
        A：在【公平翻譯交易所】中，我們將透過對譯者的 2 階段篩選機制：「網站審核」及「評鑑制度」，來確保譯稿品質。
      </p>
      <p class="content-text margin-text-20">
        【網站審核】<br>
        我們會邀請譯者詳細填寫學經歴資料，提供專長領域，並且將自己過去作品的範本上傳網站，供用戶參考。
      </p>
      <p class="content-text margin-text-20">
        【評鑑制度】<br>
        每次交易成功後，我們也會邀請用戶為譯者的各項表現評分及填寫評論。透過用戶共同建立的評鑑結果，下一位用戶將能更方便有效地選到優質譯者。
      </p>
    </div>

    <div class="qna">
      <h3 class="title-text">
        Q：為什麼你們說自己是「搜尋譯者的全新方法」？
      </h3>
      <p class="content-text margin-text-20">
        A：在【公平翻譯交易所】裡，我們希望提供的是一個公平透明的平台，幫助消費者及譯者能夠安心便利地找到彼此，並且也同時保護到消費者及譯者雙方的權益。
      </p>
      <p class="content-text margin-text-20">
        消費者在平台上，將能夠得到透明價格，進行比價，並且充分了解譯者專業履歴及工作能力後，再根據需求，委託最適合的譯者。
      </p>
      <p class="content-text margin-text-20">
        同樣地，譯者在這裡也能夠避免低薪委託，過高抽佣，並讓自己的能力才華有機會被看到，並得到更多用戶的委託。
      </p>
      <p class="content-text margin-text-20">
        透過這些顛覆性的作法，我們希望未來消費者尋找譯者時，不再需要因為資訊不足，時時提心吊膽，擔心一不小心就花冤枉錢，或找到不適任的對象；譯者的專業也能夠因此受到尊重，並得到應得的薪酬。
      </p>
      <p class="content-text margin-text-20">
        這是翻譯產業還沒有人採用過的全新方法，我們希望透過這樣的嘗試，帶來全新的改變。
      </p>
    </div>

  </div>
</div>

<hr>
<div class="row section searchnow">
  <div class="col-md-12 align-center joinus">
    <h2 class="title-text">現在就嘗試我們的服務！</h2>
    <%= link_to t("mytrans.main.search_button"), new_case_path, :class => "btn btn-primary main-button" %>
  </div>
</div>

<hr>

<div class="row section footer">
  <div class="col-md-12">
    <%= image_tag "http://lingosolutions.weebly.com/uploads/5/0/0/6/50063493/2569219.jpg?959" %>
  </div>
</div>

<hr>
<div class="row section align-center fanpage">
  <div class="col-md-12 align-center">
    <a href="https://www.facebook.com/pages/%E5%85%AC%E5%B9%B3%E7%BF%BB%E8%AD%AF%E4%BA%A4%E6%98%93%E6%89%80/1587904128145523?ref=aymt_homepage_panel" class="fa fa-facebook social-icon" target="_blank">
    </a>
    <br>

    <div class="fb-like" data-href="https://www.facebook.com/pages/&#x516c;&#x5e73;&#x7ffb;&#x8b6f;&#x4ea4;&#x6613;&#x6240;/1587904128145523?ref=aymt_homepage_panel" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    <br>
    <span class="followus">在 Facebook 上尋找我們！</span>

  </div>
</div>

<script>
var jumboHeight = $('.about').outerHeight();
function parallax(){
    var scrolled = $(window).scrollTop();
    $('.bg-about').css('height', (jumboHeight-scrolled) + 'px');
}

$(window).scroll(function(e){
    parallax();
});
</script>