@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-datepicker3";

div {
    /*outline: 1px solid #3c1;*/
    /*outline: 1px solid rgba(51, 204, 17, 0.5);*/
}

.wrapper {
	width: 80%;
	margin: auto;
}
.section {
	margin-bottom: 30px;
}

.main-navbar {
	background-color: #000;
	background: -webkit-linear-gradient(top, #222, rgba(200, 200, 200, 0.3));
	border: none;
}
.navbar-brand {
	font-size: 20px;
    color: #fff;
}
.navbar-brand:hover {
	color: #ccc;
}
.nav.navbar-nav.navbar-right li a {
	font-size: 16px;
    color: #fff;
}
.nav.navbar-nav.navbar-right li a:hover {
	background-color: rgba(255, 0, 255, 0.5);
}
.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.5);
}


.main {
	/*background: url("http://cdn1.editmysite.com/uploads/5/0/0/6/50063493/background-images/814720481.jpg");*/
	/*background-size: cover;*/
	/*max-height: 600px;*/
	height: 600px;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}
.main > h1 {
	font-size: 64px;
	font-weight: 900;
	color: #fff;
	margin: auto;
}
.main > h2 {
	font-size: 28px;
	/*font-weight: 900;*/
	color: #fff;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.main .focus {
	width: 60%;
	min-width: 500px;
	margin: auto;
	text-align: center;
}
.main-button {
	font-size: 28px !important;
	margin:0 30px;
}
.joinus {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #eee;
	border-radius: 5px;
}
.joinus > span {
	font-size: 20px;
	display: inline;
}
.joinus > .btn {
}
.joinus .btn-success {
	font-size: 20px !important;
}

.founder-intro {}
.founder-intro > .avatar {
	text-align: center;
}
.founder-intro > .avatar img {
	margin: auto;
	/*height: 360px;*/
}
.founder-intro p {
	font-size: 24px;
	font-weight: 900;
}

.avatar-lg {
	width: 180px;
	height: 180px;
	border-radius: 90px;
}
.avatar {
	width: 120px;
	height: 120px;
	border-radius: 60px;
}
.avatar-sm {
	width: 60px;
	height: 60px;
	border-radius: 30px;
}

.invite-button {
	display: inline;
}

/*http://stackoverflow.com/questions/16240754/putting-button-to-inline-with-text-twitter-bootstrap-rails*/
.button_to,
.button_to div {
  display: inline;
}

.align-center {
	text-align: center;
}
h2.title-text {
	font-size: 32px;
	font-weight: 900;
	margin-top: 10px;
	margin-bottom: 10px;
}
.qna {
	margin-top: 60px;
	margin-bottom: 20px;
}
.qna h3.title-text {
	font-size: 24px;
	font-weight: 900;
	/*margin-top: 40px;*/
	/*margin-bottom: 20px;*/
}
.content-text {
	font-size: 24px !important;
	/*font-weight: 900;*/
	color: #666 !important;
}
.margin-text-40 {
	margin-top: 80px;
	margin-bottom: 40px;
}
.margin-text-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.features {}
.features h2 {
	font-size: 32px;
	font-weight: 900;
}
.features p {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.showcase {}
.showcase .demo-translator {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	height: 400px;
}

.social-icon {
	width: 36px;
	height: 36px;
	background-color: #666;
	font-size: 18px;
	font-weight: 900;
	color: #fff;
	line-height: 36px;
	border-radius: 18px;
	text-decoration: none !important;
	margin-top: 10px;
	margin-bottom: 10px;
}
.followus {
	font-size: 24px;
	color: #4CAAC9;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}

.bg {
  background: url("http://cdn1.editmysite.com/uploads/5/0/0/6/50063493/background-images/814720481.jpg") no-repeat center center;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 650px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}
.bg-about {
	background: url("http://cdn1.editmysite.com/uploads/5/0/0/6/50063493/background-images/814720481.jpg") no-repeat center center;
	background-size: cover;
	background-position: 0 -100px;
	position: fixed;
	width: 100%;
	height: 300px; /*same height as jumbotron */
	top: 0;
	left: 0;
	z-index: -1;
}

.jumbotron {
  height: 650px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}
.about {
  height: 300px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background:transparent;
}

.stars {
	color: #F0AD4E;
}

.modal {}
.modal .custom-class {
    width: 75%;
}
.dialog-box {
    position: fixed;
    top: 25% !important;
    /*left: 50%;*/
}

.invite-button {
	display: none;
}

.suggestions .price {
	font-size: 28px;
	/*font-weight: 900;*/
	color: #4CAAC9;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

h2.inline {
	display: inline;
}