<h2><%= t("views.tests.complete.title") %></h2>
<p><%= t("views.tests.complete.content") %></p>
<%= link_to t("views.tests.complete.button_back_profile"), user_profile_path(current_user), :class => "btn btn-primary" %>